/* line 1, ../../compass/sass/_header.scss */
.register-wrapper {
  margin-top: 100px;
}

/* line 5, ../../compass/sass/_header.scss */
.float-right {
  float: right;
}

/* line 9, ../../compass/sass/_header.scss */
.nav.navbar-nav.float-right .text-right a {
  display: inline;
}

/* line 13, ../../compass/sass/_header.scss */
.dropdown {
  position: relative;
}
/* line 15, ../../compass/sass/_header.scss */
.dropdown .dropdown-links {
  display: none;
}
/* line 18, ../../compass/sass/_header.scss */
.dropdown:hover .dropdown-links {
  display: block;
}
/* line 21, ../../compass/sass/_header.scss */
.dropdown a {
  display: block;
  position: absolute;
  left: 20px;
  background-color: #f8f8f8;
  border: 1px solid #999;
  width: 150px;
  text-align: left;
  color: #777;
}
/* line 30, ../../compass/sass/_header.scss */
.dropdown a:hover {
  color: black;
  text-decoration: none;
}
/* line 35, ../../compass/sass/_header.scss */
.dropdown a:first-child {
  border: 0px;
  background-color: white;
}

/* line 43, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(0) {
  top: 15px;
}

/* line 43, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(1) {
  top: 35px;
}

/* line 43, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(2) {
  top: 55px;
}

/* line 43, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(3) {
  top: 75px;
}

/* line 43, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(4) {
  top: 95px;
}

/* line 43, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(5) {
  top: 115px;
}

/* line 43, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(6) {
  top: 135px;
}

/* line 43, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(7) {
  top: 155px;
}

/* line 50, ../../compass/sass/_header.scss */
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* line 57, ../../compass/sass/_header.scss */
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* line 1, ../../compass/sass/_home.scss */
.pl-images {
  margin-bottom: 10px;
}
/* line 3, ../../compass/sass/_home.scss */
.pl-images img {
  height: 256px;
  width: 256px;
  border: 5px solid #e6e6e6;
}
/* line 7, ../../compass/sass/_home.scss */
.pl-images img:hover {
  border-color: #1D5E9A;
}
/* line 11, ../../compass/sass/_home.scss */
.pl-images a {
  display: block;
  cursor: pointer;
}
/* line 16, ../../compass/sass/_home.scss */
.pl-images .text {
  color: #121212;
  margin-bottom: 15px;
  font-size: 32px;
}

/* line 1, ../../compass/sass/_products.scss */
.table-head {
  color: #0000ff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}

/* line 6, ../../compass/sass/styles.scss */
.slick-image img {
  width: 100vw;
}

/* line 10, ../../compass/sass/styles.scss */
.App {
  text-align: center;
}

/* line 14, ../../compass/sass/styles.scss */
.main {
  margin-top: 100px;
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help